{% extends 'base/layouts/_base_layout.html' %}
{% load static %}

{% block main-content-block %}
<div class="container-fluid">
  {% comment %} <div class="card bg-light-info shadow-none position-relative overflow-hidden">
    <div class="card-body px-4 py-3">
      <div class="row align-items-center">
        <div class="col-9">
          <h4 class="fw-semibold mb-8">SERP ANALYZE TOOL</h4>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a class="text-muted" href="./index.html">Dashboard</a></li>
              <li class="breadcrumb-item" aria-current="page">Contact</li>
            </ol>
          </nav>
        </div>
        <div class="col-3">
          <div class="text-center mb-n5">  
            <img src="../../dist/images/breadcrumb/ChatBc.png" alt="" class="img-fluid mb-n4">
          </div>
        </div>
      </div>
    </div>
  </div> {% endcomment %}
    <div class="widget-content searchable-container list">
      <!-- --------------------- start Contact ---------------- -->
      <div class="card card-body">
        <div class="position-relative">
          {% csrf_token %}
          <div class="row">
            <div class="col-md-8 col-xl-9">
                <input type="text" class="form-control product-search ps-5" name="domain_name" id="input-search" placeholder="Enter Your Domain..."/>
                <i class="ti ti-search position-absolute top-50 start-0 translate-middle-y fs-6 text-dark ms-3"></i>
            </div>
            <div class="col-md-4 col-xl-3 text-end d-flex justify-content-md-end justify-content-center mt-3 mt-md-0">
              {% comment %} <div class="action-btn show-btn" style="display: True">
                <a href="javascript:void(0)" class="delete-multiple btn-light-danger btn me-2 text-danger d-flex align-items-center font-medium">
                  <i class="ti ti-trash text-danger me-1 fs-5"></i> Delete All Row 
                </a>
              </div> {% endcomment %}
              <button type="submit" class="btn btn-info d-flex align-items-center serp-analyze-link">
                <i class="ti ti-users text-white me-1 fs-5"></i> Analyze
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>


<div id="hidden-initial-div" >
  <section class="hero-section position-relative overflow-hidden mb-0 mb-lg-11">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-12">
          <div class="hero-content my-11 my-xl-0">
            <h6 class="d-flex align-items-center gap-2 fs-4 fw-semibold mb-3" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000"><i
                class="ti ti-rocket text-secondary fs-6"></i>Analyze and Boost your Website Seo Performance</h6>
            <h1 class="fw-bolder mb-8 fs-13" data-aos="fade-up" data-aos-delay="400" data-aos-duration="1000">Most powerful & <span class="text-primary"> Developer friendly</span>
              <br>Serp Tool</h1>
            <p class="fs-5 mb-5 text-dark fw-normal" data-aos="fade-up" data-aos-delay="600" data-aos-duration="1000">Modernize comes with light & dark color skins, well designed
              dashboards, applications and pages.</p>
            <div class="d-sm-flex align-items-center gap-3" data-aos="fade-up" data-aos-delay="800" data-aos-duration="1000">
              <a class="btn btn-primary px-5 btn-hover-shadow d-block mb-3 mb-sm-0"
                href="../package/html/main/authentication-login.html">Login</a>
              <a class="btn btn-outline-primary d-block scroll-link" href="#production-template">Live Preview</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<div id="hidden-progress-div" class="d-none" >
  <div class="row m-12">
    <div class="col-md-12">
      <div class="card w-100">
        <div class="card-body">
          <div class="mb-3">
            <h5 class="mb-0" id="seo-link"></h5>
          </div>
          <div class="spinner-grow" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <div class="spinner-grow text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <div class="spinner-grow text-secondary" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <div class="spinner-grow text-success" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <div class="spinner-grow text-danger" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <div class="spinner-grow text-warning" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <div class="spinner-grow text-info" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <div class="spinner-grow text-light" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <div class="spinner-grow text-dark" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div id="hidden-result-div" class="d-none">
  <div class="col-md-12">
    <!-- --------------------- start Custom Icon Tab---------------- -->
    <div class="card">
      <div class="card-body">
        <div class="mx-auto">
          <div class="col-md-4 col-lg-4 mx-auto">
          <!-- Nav tabs -->
            <ul class="nav nav-pills nav-fill mt-4 " role="tablist">
              <li class="nav-item mx-auto">
                <a class="nav-link d-flex active" data-bs-toggle="tab" href="#Desktop" role="tab" > <span ><i class="ti ti-device-laptop fs-4"></i> </span> <span class="d-none d-md-block ms-2">Desktop</span> </a>
              </li>
              <li class="nav-item mx-auto"> 
                <a class="nav-link d-flex" data-bs-toggle="tab" href="#Mobile" role="tab" > <span ><i class="ti ti-device-mobile fs-4"></i> </span> <span class="d-none d-md-block ms-2">Mobile</span> </a>
              </li>
            </ul>
          </div>

          <!-- ---------- ----------------------------------------------------------->
          <!-- ---------- -------------------------------------------------->
          <!-- Tab panels ---------------------------------------------->
          <!-- ---------- -------------------------------------------------->
          <!-- ---------- ----------------------------------------------------------->

          <!-- -------   --- -->
          <!-- desktop SİDE -->
          <!-- -------   --- -->
          <div class="tab-content">
            <div class="tab-pane active" id="Desktop" role="tabpanel">
              <div class="p-3">
                
                <div class="row">


                  <!-- start  -->
                  <div class="col-lg-3 d-flex align-items-stretch">
                      <div class="card-body">
                        <div id="desktop_performance_score-div"></div>
                        <div class="d-flex align-items-center">
                          <button
                          type="button"
                          class="me-2 btn btn-light text-light font-medium"
                          data-bs-toggle="tooltip"
                          data-bs-placement="bottom"
                          title="Bir sayfanın performans değeri, genellikle web sitesinin veya web sayfasının hız ve kullanılabilirlik açısından ne kadar iyi performans gösterdiğini ölçen bir metrik veya skordur. Bu performans değeri, kullanıcı deneyimini iyileştirmek ve sayfa yüklemesi sürelerini minimize etmek için önemlidir."
                        >
                        <i class="ti-layers"><h5 class="text-center">Performance</h5></i>
                        </button>
                        </div>
                      </div>
                  </div>
                  <!-- start  -->

                  <div class="col-lg-3 d-flex align-items-stretch">
                    <div class="card-body">
                      <div id="desktop_accessibility_score-div"></div>
                      <h5 class="text-center">Accessibility</h5>
                    </div>
                  </div>
                  <!-- start  -->
                  <div class="col-lg-3 d-flex align-items-stretch">
                    <div class="card-body">
                      <div id="desktop_seo_score-div"></div>
                      <h5 class="text-center">Seo</h5>
                    </div>
                  </div>
                  <!-- start  -->
                  <div class="col-lg-3 d-flex align-items-stretch">
                    <div class="card-body">
                      <div id="desktop_best_practices_score-div"></div>
                      <h5 class="text-center">Best Practice</h5>
                    </div>
                  </div>

                </div>
                <div class="row">
                  <div class="col-lg-6 d-flex align-items-strech">
                    <div class="card w-100">
                      <div class="card-body">
                        <div id="desktop_performance_score_big-div"></div>
                        <h5 class="text-center"> Desktop Performance Score</h5>
                        <h6 class="text-center">Values are estimated and may vary. The performance score is calculated <br>directly from these metrics.See calculator.</h6>
                        <div class="d-flex align-items-center justify-content-between">
                          <div class="d-flex align-items-center">
                            <button
                              type="button"
                              class="me-2 btn btn-light-success text-danger font-medium"
                              data-bs-toggle="tooltip"
                              data-bs-placement="bottom"
                              title="Kırmızı renk, web sitesinin SEO açısından zayıf olduğunu gösterir.
                              Bu aralıkta olan bir site, arama motorlarında düşük sıralamalara sahip olabilir.
                              Site sahipleri, SEO stratejilerini gözden geçirmeli ve iyileştirmeler yapmalıdır.
                              İçerik kalitesi, anahtar kelime kullanımı ve teknik SEO eksiklikleri göz önüne alınmalıdır."
                            >
                            <i class="ti-layers">0-49</i>
                            </button>
                          </div>
                          <div class="d-flex align-items-center">
                            <button
                            type="button"
                            class="me-2 btn btn-light-success text-warning font-medium"
                            data-bs-toggle="tooltip"
                            data-bs-placement="bottom"
                            title="Turuncu renk, web sitesinin orta seviyede bir SEO değerine sahip olduğunu gösterir.
                            Bu aralıkta olan bir site, belirli anahtar kelimelerde iyi sıralamalara sahip olabilir, ancak potansiyel iyileştirmelere ihtiyaç duyabilir.
                            SEO stratejileri daha fazla optimize edilebilir ve içerik kalitesi artırılabilir.
                            Rekabetçi anahtar kelimelerde daha iyi sıralamalar elde etmek için çalışılabilir."
                          >
                          <i class="ti-layers">50-84</i>
                          </button>
                          </div>
                          <div class="d-flex align-items-center">
                            <button
                            type="button"
                            class="me-2 btn btn-light-success text-success font-medium"
                            data-bs-toggle="tooltip"
                            data-bs-placement="bottom"
                            title="Yeşil renk, web sitesinin yüksek bir SEO değerine sahip olduğunu gösterir.
                            Bu aralıkta olan bir site, arama motorlarında yüksek sıralamalara sahip olabilir ve geniş bir görünürlüğe ulaşabilir.
                            İyi bir SEO stratejisi ve kaliteli içerikle bu başarı elde edilmiş olabilir.
                            Site sahipleri, mevcut başarılarını sürdürmek ve rekabeti önde tutmak için sürekli olarak SEO'yu optimize etmelidir."
                          >
                          <i class="ti-layers">85-100</i>
                          </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="row">
                      <div class="col-lg-12 col-md-6 col-sm-12">
                        <!-- Yearly Breakup -->
                        <div class="card overflow-hidden">
                          <div class="card-body">
                            <div class="row align-items-center justify-content-between">
                              <div  style="max-width: 95%;" id="desktop_fullPageScreenshot-div"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row justify-content-center">
                  <div class="col-lg-6">
                    <div class="accordion accordion-flush mb-5 card position-relative overflow-hidden" id="accordionFlushExample">
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                          <button class="accordion-button collapsed fs-4 fw-semibold" type="button" data-bs-toggle="collapse" data-bs-target="#desktop_first_contentful_paint" aria-expanded="false" aria-controls="desktop_first_contentful_paint">
                            <div class="row">
                              <div class="row">
                                <h6>First Contentful Paint</h6>
                              </div>
                              <div class="row">
                                <div class="desktop_first_contentful_paint"></div>
                              </div>
                            </div>
                          </button>
                        </h2>
                        <div id="desktop_first_contentful_paint" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                          <div class="accordion-body fw-normal">
                            Admin Dashboard is the backend interface of a website or an application that helps to manage the 
                            website's overall content and settings. It is widely used by the site owners to keep track of their website, 
                            make changes to their content, and more.
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                          <button class="accordion-button collapsed fs-4 fw-semibold" type="button" data-bs-toggle="collapse" data-bs-target="#desktop_total_blocking_time" aria-expanded="false" aria-controls="desktop_total_blocking_time">
                            <div class="row">
                              <div class="row">
                                <h6>Total Blocking Time</h6>
                              </div>
                              <div class="row">
                                <div class="desktop_total_blocking_time"></div>
                              </div>
                            </div>
                          </button>
                        </h2>
                        <div id="desktop_total_blocking_time" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                          <div class="accordion-body fw-normal">
                            Admin Dashboard is the backend interface of a website or an application that helps to manage the 
                            website's overall content and settings. It is widely used by the site owners to keep track of their website, 
                            make changes to their content, and more.
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                          <button class="accordion-button collapsed fs-4 fw-semibold" type="button" data-bs-toggle="collapse" data-bs-target="#desktop_speed_index" aria-expanded="false" aria-controls="desktop_speed_index">
                            <div class="row">
                              <div class="row">
                                <h6>Speed Index</h6>
                              </div>
                              <div class="row">
                                <div class="desktop_speed_index"></div>
                              </div>
                            </div>
                          </button>
                        </h2>
                        <div id="desktop_speed_index" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                          <div class="accordion-body fw-normal">
                            Admin Dashboard is the backend interface of a website or an application that helps to manage the 
                            website's overall content and settings. It is widely used by the site owners to keep track of their website, 
                            make changes to their content, and more.
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="accordion accordion-flush mb-5 card position-relative overflow-hidden" id="accordionFlushExample">
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                          <button class="accordion-button collapsed fs-4 fw-semibold" type="button" data-bs-toggle="collapse" data-bs-target="#desktop_largest_contentful_paint" aria-expanded="false" aria-controls="desktop_largest_contentful_paint">
                            <div class="row">
                              <div class="row">
                                <h6>Largest Contentful Paint</h6>
                              </div>
                              <div class="row">
                                <div class="desktop_largest_contentful_paint"></div>
                              </div>
                            </div>
                          </button>
                        </h2>
                        <div id="desktop_largest_contentful_paint" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                          <div class="accordion-body fw-normal">
                            Admin Dashboard is the backend interface of a website or an application that helps to manage the 
                            website's overall content and settings. It is widely used by the site owners to keep track of their website, 
                            make changes to their content, and more.
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                          <button class="accordion-button collapsed fs-4 fw-semibold" type="button" data-bs-toggle="collapse" data-bs-target="#desktop_cumulative_layaout_shift" aria-expanded="false" aria-controls="desktop_cumulative_layaout_shift">
                            <div class="row">
                              <div class="row">
                                <h6>Cumulative Layout Shift</h6>
                              </div>
                              <div class="row">
                                <div class="desktop_cumulative_layout_shift"></div>
                              </div>
                            </div>
                          </button>
                        </h2>
                        <div id="desktop_cumulative_layaout_shift" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                          <div class="accordion-body fw-normal">
                            Admin Dashboard is the backend interface of a website or an application that helps to manage the 
                            website's overall content and settings. It is widely used by the site owners to keep track of their website, 
                            make changes to their content, and more.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12 d-flex align-items-strech">
                    <div class="card w-100">
                      <div class="card-body">
                        <div id="desktop_accessibility_score_big-div"></div>
                        <h5 class="text-center"> Accessibility</h5>
                        <h6 class="text-center">These checks highlight opportunities to improve the accessibility of your web app. Automatic detection can only detect a subset of issues and does not guarantee the accessibility of your web app, so manual testing is also encouraged.</h6>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12 d-flex align-items-strech">
                    <div class="card w-100">
                      <div class="card-body">
                        <div id="desktop_best_practices_score_big-div"></div>
                        <h5 class="text-center">Best Practices</h5>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12 d-flex align-items-strech">
                    <div class="card w-100">
                      <div class="card-body">
                        <div id="desktop_seo_score_big-div"></div>
                        <h5 class="text-center"> SEO</h5>
                        <h6 class="text-center">These checks ensure that your page is following basic search engine optimization advice. There are many additional factors Lighthouse does not score here that may affect your search ranking, including performance on Core Web Vitals. Learn more about Google Search Essentials.</h6>
                      </div>
                    </div>
                  </div>
                </div>
  
              </div>
            </div>


          <!-- -------   --- -->
          <!-- Mobile SİDE -->
          <!-- -------   --- -->

            <div class="tab-pane p-3" id="Mobile" role="tabpanel">
              <div class="p-3">
                
                <div class="row">
                  <div class="row">
                    <div class="col-md-3">
                      <button type="button"  id="mobile_lang_tr" class="btn mb-1 waves-effect waves-light btn-light-success text-success">Tr</button>
                      <button type="button"  id="mobile_lang_en" class="btn mb-1 waves-effect waves-light btn-light-success text-success">En</button>
                    </div>                    
                  </div>
                  <!-- start  -->
                  <div class="col-lg-3 d-flex align-items-stretch">
                      <div class="card-body">
                        <div id="mobile_performance_score-div"></div>
                        <h5 class="text-center">Performance</h5>
                      </div>
                  </div>
                  <!-- start  -->
                  <div class="col-lg-3 d-flex align-items-stretch">
                    <div class="card-body">
                      <div id="mobile_accessibility_score-div"></div>
                      <h5 class="text-center">Accessibility</h5>
                    </div>
                  </div>
                  <!-- start  -->
                  <div class="col-lg-3 d-flex align-items-stretch">
                    <div class="card-body">
                      <div id="mobile_seo_score-div"></div>
                      <h5 class="text-center">Seo</h5>
                    </div>
                  </div>
                  <!-- start  -->
                  <div class="col-lg-3 d-flex align-items-stretch">
                    <div class="card-body">
                      <div id="mobile_best_practices_score-div"></div>
                      <h5 class="text-center">Best Practice</h5>
                    </div>
                  </div>

                </div>
                <div class="card w-100">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-lg-6 d-flex align-items-strech">
                        <div class="card w-100">
                          <div class="card-body">
                            <div id="mobile_performance_score_big-div"></div>
                            <h5 class="text-center"> mobile Performance Score</h5>
                            <h6 class="text-center">Values are estimated and may vary. The performance score is calculated <br>directly from these metrics.See calculator.</h6>
                            <div class="d-flex align-items-center justify-content-between">
                              <div class="d-flex align-items-center">
                                <button
                                  type="button"
                                  class="me-2 btn btn-light-success text-danger font-medium"
                                  data-bs-toggle="tooltip"
                                  data-bs-placement="bottom"
                                  title="Kırmızı renk, web sitesinin SEO açısından zayıf olduğunu gösterir.
                                  Bu aralıkta olan bir site, arama motorlarında düşük sıralamalara sahip olabilir.
                                  Site sahipleri, SEO stratejilerini gözden geçirmeli ve iyileştirmeler yapmalıdır.
                                  İçerik kalitesi, anahtar kelime kullanımı ve teknik SEO eksiklikleri göz önüne alınmalıdır."
                                >
                                <i class="ti-layers">0-49</i>
                                </button>
                              </div>
                              <div class="d-flex align-items-center">
                                <button
                                type="button"
                                class="me-2 btn btn-light-success text-warning font-medium"
                                data-bs-toggle="tooltip"
                                data-bs-placement="bottom"
                                title="Turuncu renk, web sitesinin orta seviyede bir SEO değerine sahip olduğunu gösterir.
                                Bu aralıkta olan bir site, belirli anahtar kelimelerde iyi sıralamalara sahip olabilir, ancak potansiyel iyileştirmelere ihtiyaç duyabilir.
                                SEO stratejileri daha fazla optimize edilebilir ve içerik kalitesi artırılabilir.
                                Rekabetçi anahtar kelimelerde daha iyi sıralamalar elde etmek için çalışılabilir."
                              >
                              <i class="ti-layers">50-84</i>
                              </button>
                              </div>
                              <div class="d-flex align-items-center">
                                <button
                                type="button"
                                class="me-2 btn btn-light-success text-success font-medium"
                                data-bs-toggle="tooltip"
                                data-bs-placement="bottom"
                                title="Yeşil renk, web sitesinin yüksek bir SEO değerine sahip olduğunu gösterir.
                                Bu aralıkta olan bir site, arama motorlarında yüksek sıralamalara sahip olabilir ve geniş bir görünürlüğe ulaşabilir.
                                İyi bir SEO stratejisi ve kaliteli içerikle bu başarı elde edilmiş olabilir.
                                Site sahipleri, mevcut başarılarını sürdürmek ve rekabeti önde tutmak için sürekli olarak SEO'yu optimize etmelidir."
                              >
                              <i class="ti-layers">85-100</i>
                              </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="row">
                          <div class="col-lg-12 col-md-6 col-sm-12">
                            <!-- Yearly Breakup -->
                            <div class="card overflow-hidden">
                              <div class="card-body">
                                <div class="row align-items-center justify-content-between">
                                  <div  style="max-width: 95%;" id="mobile_fullPageScreenshot-div"></div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <h4>METRİCS</h4>
                    </div>
                    <div class="row justify-content-center">
                      <div class="col-lg-6">
                        <div class="accordion accordion-flush mb-5 card position-relative overflow-hidden" id="accordionFlushExample">
                          <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingOne">
                              <button class="accordion-button collapsed fs-4 fw-semibold" type="button" data-bs-toggle="collapse" data-bs-target="#mobile_first_contentful_paint" aria-expanded="false" aria-controls="mobile_first_contentful_paint">
                                <div class="row">
                                  <div class="row">
                                    <h6>First Contentful Paint</h6>
                                  </div>
                                  <div class="row">
                                    <div class="mobile_first_contentful_paint"></div>
                                  </div>
                                </div>
                              </button>
                            </h2>
                            <div id="mobile_first_contentful_paint" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                              <div class="accordion-body fw-normal">
                                Tarayıcının bir sayfayı ziyaret eden kullanıcının gördüğü ilk içeriği oluşturması için geçen süreyi ölçer. Bu metrik, sayfanın ne kadar hızlı yüklendiğini gösterir ve kullanıcı deneyimini etkiler. Kısacası, bu değer ne kadar düşük olursa, sayfa o kadar hızlı yüklenir ve kullanıcılar daha hızlı bir deneyim yaşar.
                              </div>
                            </div>
                          </div>
                          <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingOne">
                              <button class="accordion-button collapsed fs-4 fw-semibold" type="button" data-bs-toggle="collapse" data-bs-target="#mobile_total_blocking_time" aria-expanded="false" aria-controls="mobile_total_blocking_time">
                                <div class="row">
                                  <div class="row">
                                    <h6>Total Blocking Time</h6>
                                  </div>
                                  <div class="row">
                                    <div class="mobile_total_blocking_time"></div>
                                  </div>
                                </div>
                              </button>
                            </h2>
                            <div id="mobile_total_blocking_time" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                              <div class="accordion-body fw-normal">
                                Admin Dashboard is the backend interface of a website or an application that helps to manage the 
                                website's overall content and settings. It is widely used by the site owners to keep track of their website, 
                                make changes to their content, and more.
                              </div>
                            </div>
                          </div>
                          <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingOne">
                              <button class="accordion-button collapsed fs-4 fw-semibold" type="button" data-bs-toggle="collapse" data-bs-target="#mobile_speed_index" aria-expanded="false" aria-controls="mobile_speed_index">
                                <div class="row">
                                  <div class="row">
                                    <h6>Speed Index</h6>
                                  </div>
                                  <div class="row">
                                    <div class="mobile_speed_index"></div>
                                  </div>
                                </div>
                              </button>
                            </h2>
                            <div id="mobile_speed_index" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                              <div class="accordion-body fw-normal">
                                Admin Dashboard is the backend interface of a website or an application that helps to manage the 
                                website's overall content and settings. It is widely used by the site owners to keep track of their website, 
                                make changes to their content, and more.
                              </div>
                            </div>
                          </div>

                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="accordion accordion-flush mb-5 card position-relative overflow-hidden" id="accordionFlushExample">
                          <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingOne">
                              <button class="accordion-button collapsed fs-4 fw-semibold" type="button" data-bs-toggle="collapse" data-bs-target="#mobile_largest_contentful_paint" aria-expanded="false" aria-controls="mobile_largest_contentful_paint">
                                <div class="row">
                                  <div class="row">
                                    <h6>Largest Contentful Paint</h6>
                                  </div>
                                  <div class="row">
                                    <div class="mobile_largest_contentful_paint"></div>
                                  </div>
                                </div>
                              </button>
                            </h2>
                            <div id="mobile_largest_contentful_paint" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                              <div class="accordion-body fw-normal">
                                Admin Dashboard is the backend interface of a website or an application that helps to manage the 
                                website's overall content and settings. It is widely used by the site owners to keep track of their website, 
                                make changes to their content, and more.
                              </div>
                            </div>
                          </div>
                          <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingOne">
                              <button class="accordion-button collapsed fs-4 fw-semibold" type="button" data-bs-toggle="collapse" data-bs-target="#mobile_cumulative_layout_shift" aria-expanded="false" aria-controls="mobile_cumulative_layout_shift">
                                <div class="row">
                                  <div class="row">
                                    <h6>Cumulative Layout Shift</h6>
                                  </div>
                                  <div class="row">
                                    <div class="mobile_cumulative_layout_shift"></div>
                                  </div>
                                </div>
                              </button>
                            </h2>
                            <div id="mobile_cumulative_layout_shift" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                              <div class="accordion-body fw-normal">
                                Admin Dashboard is the backend interface of a website or an application that helps to manage the 
                                website's overall content and settings. It is widely used by the site owners to keep track of their website, 
                                make changes to their content, and more.
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <h6>Diagnostics</h6>
                    <div class="accordion accordion-flush mobile_performance_diagnostic_audits" id="accordionFlushExample">
                      <!-- buraya seo auditleri gelecek-->
                    </div>
                  </div>
                  <div class="card-body">
                    <h6>PASSED AUDITS</h6>
                    <div class="accordion accordion-flush mobile_performance_passed_audits" id="accordionFlushExample">
                      <!-- buraya seo auditleri gelecek-->
                    </div>
                  </div>
                </div>   
                <div class="row">
                  <div class="col-lg-12 d-flex align-items-strech">
                    <div class="card w-100">
                      <div class="card-body">
                        <div id="mobile_accessibility_score_big-div"></div>
                        <h4 class="text-center"> Accessibility</h4>
                        <h6 class="text-center">These checks highlight opportunities to improve the accessibility of your web app. Automatic detection can only detect a subset of issues and does not guarantee the accessibility of your web app, so manual testing is also encouraged.</h6>
                      </div>
                      <div class="card-body">
                        <h6>ARIA</h6>
                        <div class="accordion accordion-flush mobile_accessibility_aria_audits" id="accordionFlushExample">
                          <!-- buraya seo auditleri gelecek-->
                        </div>
                      </div>
                      <div class="card-body">
                        <h6>NAMES AND LABELS</h6>
                        <div class="accordion accordion-flush mobile_accessibility_names_and_labels_audits" id="accordionFlushExample">
                          <!-- buraya seo auditleri gelecek-->
                        </div>
                      </div>
                      <div class="card-body">
                        <h6>CONTRAST</h6>
                        <div class="accordion accordion-flush mobile_accessibility_contrast_audits" id="accordionFlushExample">
                          <!-- buraya seo auditleri gelecek-->
                        </div>
                      </div>
                      <div class="card-body">
                        <h6>TABLES AND LISTS</h6>
                        <div class="accordion accordion-flush mobile_accessibility_tables_lists_audits" id="accordionFlushExample">
                          <!-- buraya seo auditleri gelecek-->
                        </div>
                      </div>
                      <div class="card-body">
                        <h6>NAVIGATION</h6>
                        <div class="accordion accordion-flush mobile_accessibility_navigation_audits" id="accordionFlushExample">
                          <!-- buraya seo auditleri gelecek-->
                        </div>
                      </div>
                      <div class="card-body">
                        <h6>ADDITIONAL ITEMS TO MANUALLY CHECK</h6>
                        <div class="accordion accordion-flush mobile_accessibility_add_manual_check_audits" id="accordionFlushExample">
                          <!-- buraya seo auditleri gelecek-->
                        </div>
                      </div>
                      <div class="card-body">
                        <h6>PASSED AUDITS</h6>
                        <div class="accordion accordion-flush mobile_accessibility_passed_audits" id="accordionFlushExample">
                          <!-- buraya seo auditleri gelecek-->
                        </div>
                      </div>
                      <div class="card-body">
                        <h6>NOT APPLICABLE</h6>
                        <div class="accordion accordion-flush mobile_accessibility_not_applicable_audits" id="accordionFlushExample">
                          <!-- buraya seo auditleri gelecek-->
                        </div>
                      </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12 d-flex align-items-strech">
                    <div class="card w-100">
                      <div class="card-body">
                        <div id="mobile_best_practices_score_big-div"></div>
                        <h5 class="text-center">Best Practices</h5>
                      </div>

                      <div class="card-body">
                        <h6>USER EXPERIENCE</h6>
                        <div class="accordion accordion-flush mobile_best_practices_user_experience_audits" id="accordionFlushExample">
                          <!-- buraya seo auditleri gelecek-->
                        </div>
                      </div>
                      <div class="card-body">
                        <h6>TRUST AND SAFETY</h6>
                        <div class="accordion accordion-flush mobile_best_practices_trust_and_safety_audits" id="accordionFlushExample">
                          <!-- buraya seo auditleri gelecek-->
                        </div>
                      </div>
                      <div class="card-body">
                        <h6>GENERAL</h6>
                        <div class="accordion accordion-flush mobile_best_practices_general_audits" id="accordionFlushExample">
                          <!-- buraya seo auditleri gelecek-->
                        </div>
                      </div>
                      <div class="card-body">
                        <h6>PASSED AUDITS</h6>
                        <div class="accordion accordion-flush mobile_best_practices_passed_audits" id="accordionFlushExample">
                          <!-- buraya seo auditleri gelecek-->
                        </div>
                      </div>
                      <div class="card-body">
                        <h6>NOT APPLICABLE</h6>
                        <div class="accordion accordion-flush mobile_best_practices_not_applicable_audits" id="accordionFlushExample">
                          <!-- buraya seo auditleri gelecek-->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12 d-flex align-items-strech">
                    <div class="card w-100">
                      <div class="card-body">
                        <div id="mobile_seo_score_big-div"></div>
                        <h5 class="text-center"> SEO</h5>
                        <h6 class="text-center">These checks ensure that your page is following basic search engine optimization advice. There are many additional factors Lighthouse does not score here that may affect your search ranking, including performance on Core Web Vitals. Learn more about Google Search Essentials.</h6>
                      </div>
                      <div class="card-body">
                        <h6>CRAWLING AND INDEXING</h6>
                        <div class="accordion accordion-flush mobile_seo_crawl_and_indexing_audits" id="accordionFlushExample">
                          <!-- buraya seo auditleri gelecek-->
                        </div>
                      </div>
                      <div class="card-body">
                        <h6>MOBILE FRIENDLY</h6>
                        <div class="accordion accordion-flush mobile_seo_mobile_friendly_audits" id="accordionFlushExample">
                          <!-- buraya seo auditleri gelecek-->
                        </div>
                      </div>
                      <div class="card-body">
                        <h6>CONTENT BEST PRACTICES</h6>
                        <div class="accordion accordion-flush mobile_seo_content_best_practices_audits" id="accordionFlushExample">
                          <!-- buraya seo auditleri gelecek-->
                        </div>
                      </div>
                      <div class="card-body">
                        <h6>ADDITIONAL ITEMS TO MANUALLY CHECK</h6>
                        <div class="accordion accordion-flush mobile_seo_add_item_to_manually_check_audits" id="accordionFlushExample">
                          <!-- buraya seo auditleri gelecek-->
                        </div>
                      </div>
                      <div class="card-body">
                        <h6>PASSED AUDITS</h6>
                        <div class="accordion accordion-flush mobile_seo_passed_audits" id="accordionFlushExample">
                          <!-- buraya seo auditleri gelecek-->
                        </div>
                      </div>
                      <div class="card-body">
                        <h6>NOT APPLICABLE</h6>
                        <div class="accordion accordion-flush mobile_seo_not_applicable_audits" id="accordionFlushExample">
                          <!-- buraya seo auditleri gelecek-->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>




              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ---------------------   end Custom Icon Tab ---------------- -->
  </div>
</div>

{% comment %} <div class="col-md-12">
  <!-- --------------------- start Custom Icon Tab---------------- -->
  <div class="card">
    <div class="card-body">
      <div class="mx-auto">
        <div class="col-md-4 col-lg-4 mx-auto">
        <!-- Nav tabs -->
          <ul class="nav nav-pills nav-fill mt-4 " role="tablist">
            <li class="nav-item mx-auto">
              <a class="nav-link d-flex active" data-bs-toggle="tab" href="#home2" role="tab" > <span ><i class="ti ti-device-laptop fs-4"></i> </span> <span class="d-none d-md-block ms-2">Desktop</span> </a>
            </li>
            <li class="nav-item mx-auto"> 
              <a class="nav-link d-flex" data-bs-toggle="tab" href="#profile2" role="tab" > <span ><i class="ti ti-device-mobile fs-4"></i> </span> <span class="d-none d-md-block ms-2">Mobile</span> </a>
            </li>
          </ul>
        </div>
        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane active" id="home2" role="tabpanel">
            <div class="p-3">
              
              <div class="row">
                <div class="col-lg-4 d-flex align-items-stretch">
                  <div class="card w-100">
                    <div class="card-body">
                      <h5>Stroked Gauge Radial Bar Chart</h5>
                      <div id="chart-radial-stroked-gauge"></div>
                    </div>
                  </div>
                </div>
                <!-- Start Semi Circle Radial Bar Chart -->
                <div class="col-lg-4 d-flex align-items-stretch">
                  <div class="card w-100">
                    <div class="card-body">
                      <h5>Semi Circle Radial Bar Chart</h5>
                      <div
                        class="d-flex align-items-center justify-content-center mt-5"
                      >
                        <div id="chart-radial-semi-circle"></div>
                      </div>
                    </div>
                  </div>
                </div>
                  <div class="col-lg-4 d-flex align-items-stretch">
                  <div class="card w-100">
                    <div class="card-body">
                      <h5>Semi Circle Radial Bar Chart</h5>
                      <div
                        class="d-flex align-items-center justify-content-center mt-5"
                      >
                        <div id="chart-radial-semi-circle"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End Semi Circle Radial Bar Chart -->
              </div>

              <div class="container-fluid">
                <div class="widget-content searchable-container list">
                  <!-- --------------------- start Contact ---------------- -->
                  <!-- Modal -->
                  <div class="card card-body">
                    <div class="table-responsive">
                      <table class="table search-table align-middle text-nowrap">
                        <thead class="header-item">
                          <th>
                            <div class="n-chk align-self-center text-center">
                              <div class="form-check">
                                <input type="checkbox" class="form-check-input primary" id="contact-check-all" />
                                <label class="form-check-label" for="contact-check-all"></label>
                                <span class="new-control-indicator"></span>
                              </div>
                            </div>
                          </th>
                          <th>Link</th>
                          <th>İnspect</th>
                        </thead>
                        <tbody>
                          {% for link in sitemap_link_list %}
                          <tr class="search-items">
                            <td >
                              <div class="n-chk align-self-center text-center">
                                <div class="form-check">
                                  <input type="checkbox" class="form-check-input contact-chkbox primary" id="checkbox1" />
                                  <label class="form-check-label" for="checkbox1"></label>
                                </div>
                              </div>
                            </td>
                            <td >
                              <a href="{{link}}">{{link|truncatechars:100}}</a>
                              <div data-id="{{link}}" >
                              </div>
                            </td>
                            <td >
                              <button id="sent_link" type="button" class="btn btn-success view-link" data-link="{{ link }}" data-id="{{link.id}}"></button>
                            </td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div> 

            </div>
          </div>
          <div class="tab-pane p-3" id="profile2" role="tabpanel">

            <div class="row">
              <div class="col-lg-12">
                <div class="card">
                  <div class="card-body ">
                    <h5 class="card-title fw-semibold">Upcoming Activity</h5>
                    <p class="card-subtitle mb-7 pb-8">In New year</p>
                    <div class="position-relative">
                      {% for link in sitemap_link_list %}
                        <div class="search-items mb-3">
                          <div class="row ">
                            <div class="col-md-1">
                              <div class="form-check">
                                <input type="checkbox" class="form-check-input primary" id="contact-check-all" />
                                <label class="form-check-label" for="contact-check-all"></label>
                                <span class="new-control-indicator"></span>
                              </div>
                            </div>
                            <div class="col-md-10">
                                <h6 class="fs-4 fw-semibold"><a href="{{link}}">{{link|truncatechars:100}}</a></h6> 
                            </div>
                            <div class="col-md-1">
                              <button id="sent_link" type="button" class="btn btn-success view-link" data-link="{{ link }}" data-id="{{link.id}}">inspect</button>
                            </div>
                          </div>
                          
                          <div class="align-items-center m-3" data-id="{{link}}" >
                          </div>
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ---------------------   end Custom Icon Tab ---------------- -->
</div> {% endcomment %}

{% if status_error %}
  <h1>{{status_error}}</h1>
{% endif %}

{% endblock main-content-block %}