{% extends 'base/layouts/_base_layout.html' %}
{% load static %}

{% block main-content-block %}

<div class="container-fluid">
  <div class="card rounded-2 overflow-hidden">
    {% if blog_posts.image %}
    <div class="position-relative">
      <a href="javascript:void(0)"><img src="{{ blog_posts.image.url }}" class="card-img-top rounded-0 object-fit-cover" alt="..." height="440"></a>
      <span class="badge bg-white text-dark fs-2 rounded-4 lh-sm mb-9 me-9 py-1 px-2 fw-semibold position-absolute bottom-0 end-0">2 min Read</span>
      <img src="{% static 'package/dist/images/profile/user-1.jpg' %}"  alt="" class="img-fluid rounded-circle position-absolute bottom-0 start-0 mb-n9 ms-9" width="40" height="40" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Esther Lindsey">
    </div>
    {% else %}
    <div class="position-relative">
      <a href="javascript:void(0)"><img src="{% static './package/dist/images/ai/ai.jpeg' %}"  class="card-img-top rounded-0 object-fit-cover" alt="..." height="440"></a>
      <span class="badge bg-white text-dark fs-2 rounded-4 lh-sm mb-9 me-9 py-1 px-2 fw-semibold position-absolute bottom-0 end-0">2 min Read</span>
      <img src="{% static 'package/dist/images/profile/user-1.jpg' %}"  alt="" class="img-fluid rounded-circle position-absolute bottom-0 start-0 mb-n9 ms-9" width="40" height="40" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Esther Lindsey">
    </div>
    {% endif %}
    <div class="card-body p-4">
      <span class="badge text-bg-light fs-2 rounded-4 py-1 px-2 lh-sm  mt-3">Lifestyle</span>
      <h2 class="fs-9 fw-semibold my-4">{{blog_posts.title}}</h2>
      <div class="d-flex align-items-center gap-4">
        <div class="d-flex align-items-center gap-2"><i class="ti ti-eye text-dark fs-5"></i>2252</div>
        <div class="d-flex align-items-center gap-2"><i class="ti ti-message-2 text-dark fs-5"></i>3</div>
        <div class="d-flex align-items-center fs-2 ms-auto"><i class="ti ti-point text-dark"></i>{{ blog_posts.created_at|date:"F d, Y" }}</div>
      </div>
    </div>
    <div class="card-body border-top p-4">
      <p class="mb-3">
        {{blog_posts.content}}
      </p>
      <p class="text-dark mb-0"><strong>This is strong text.</strong></p>
      <p class="mb-0"><em>This is italic text.</em></p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h4 class="mb-4 fw-semibold">Post Comments</h4>
      <form>
        <textarea class="form-control mb-4" rows="5"></textarea>
        <button class="btn btn-primary">Post Comment</button>
      </form>
      <div class="d-flex align-items-center gap-3 mb-4 mt-7 pt-8">
        <h4 class="mb-0 fw-semibold">Comments</h4>
        <span class="badge bg-light-primary text-primary fs-4 fw-semibold px-6 py-8 rounded">3</span>
      </div>
      <div class="position-relative">
        <div class="p-4 rounded-2 bg-light mb-3">
          <div class="d-flex align-items-center gap-3">
            <img src="../../dist/images/profile/user-2.jpg" alt="" class="rounded-circle" width="33" height="33">
            <h6 class="fw-semibold mb-0 fs-4">Don Russell</h6>
            <span class="p-1 bg-light-dark rounded-circle d-inline-block"></span>
          </div>
          <p class="my-3">Es do ujurus nejson imju azgudpi toceztep ji cocicoci bosawrop korze ta. 
            Casetlu udumej umocu wanaro webmos ijafa ud muli amja softoj ma pijum.
          </p>
          <div class="d-flex align-items-center gap-2">
            <a class="text-white d-flex align-items-center justify-content-center bg-secondary p-2 fs-4 rounded-circle" href="javascript:void(0)" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Reply">
              <i class="ti ti-arrow-back-up"></i>
            </a>
          </div>
        </div>
        <div class="p-4 rounded-2 bg-light mb-3">
          <div class="d-flex align-items-center gap-3">
            <img src="../../dist/images/profile/user-3.jpg" alt="" class="rounded-circle" width="33" height="33">
            <h6 class="fw-semibold mb-0 fs-4">Cordelia Potter</h6>
            <span class="p-1 bg-light-dark rounded-circle d-inline-block"></span>
          </div>
          <p class="my-3">Huwso jewzehgu julriw niwgazep lewbob isujirmuz hemto pahop cewa zuhucze rinitba etdebluj. 
            Obdevo bo fa siztes laobeir agoemugo rut sapaviw mulati do re dabelul wo tumnik wih mu.
          </p>
          <div class="d-flex align-items-center gap-2">
            <a class="text-white d-flex align-items-center justify-content-center bg-secondary p-2 fs-4 rounded-circle" href="javascript:void(0)" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Reply">
              <i class="ti ti-arrow-back-up"></i>
            </a>
          </div>
        </div>
        <div class="p-4 rounded-2 bg-light mb-3 ms-7">
          <div class="d-flex align-items-center gap-3">
            <img src="../../dist/images/profile/user-3.jpg" alt="" class="rounded-circle" width="40" height="40">
            <h6 class="fw-semibold mb-0 fs-4">Irene Hanson</h6>
            <span class="p-1 bg-light-dark rounded-circle d-inline-block"></span>
          </div>
          <p class="my-3">Uborofgic be rof lom sedge vapozi ohoinu nutremcuc ro ko atmeg anrov git ve vuj ki teb or. 
            Lohi hafa faddegon horoz ebema kew idful ducam nev rol iga wikkobsu sucdu gud.
          </p>
        </div>
        <div class="p-4 rounded-2 bg-light">
          <div class="d-flex align-items-center gap-3">
            <img src="../../dist/images/profile/user-4.jpg" alt="" class="rounded-circle" width="33" height="33">
            <h6 class="fw-semibold mb-0 fs-4">Seth Ortiz</h6>
            <span class="p-1 bg-light-dark rounded-circle d-inline-block"></span>
          </div>
          <p class="my-3">Icme rasejmat ciwo ifekemug owoca vicoz ukikitus famiftat nuk eroewu za upe. 
            Pobrikvup kivofvac tuba ot veh ozoab sa gesi hahoniha hop burbip volo hufotobo di uted vojoamu.
          </p>
          <div class="d-flex align-items-center gap-2">
            <a class="text-white d-flex align-items-center justify-content-center bg-secondary p-2 fs-4 rounded-circle" href="javascript:void(0)" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Reply">
              <i class="ti ti-arrow-back-up"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock main-content-block %}