{% load i18n static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!--  Title -->
    <title>{% block head_title %}{% endblock %}</title>
    
    <!--  Required Meta Tag -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="handheldfriendly" content="true" />
    <meta name="MobileOptimized" content="width" />
    <meta name="description" content="Mordenize" />
    <meta name="author" content="" />
    <meta name="keywords" content="Mordenize" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--  Favicon -->
    <link rel="shortcut icon" type="image/png" href="{% static 'package/dist/images/logos/favicon.png' %}" />
    <!-- Owl Carousel  -->
    <link rel="stylesheet" href="{% static 'package/dist/libs/owl.carousel/dist/assets/owl.carousel.min.css' %}">
    <!-- apex -->
    <link rel="stylesheet" href="{% static 'package/dist/libs/apexcharts/dist/apexcharts.css' %}">
    
    <!-- Core Css -->
    <link  id="themeColors"  rel="stylesheet" href="{% static 'package/dist/css/style.min.css' %}" />
    
    {% block extra_head %}
    {% endblock %}
  </head>