{% load i18n static %}

<!--  Import Js Files -->
<script src="{% static 'package/dist/libs/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'package/dist/libs/simplebar/dist/simplebar.min.js' %}"></script>
<script src="{% static 'package/dist/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<!--  core files -->
<script src="{% static 'package/dist/js/app.min.js' %}"></script>
<script src="{% static 'package/dist/js/app.init.js' %}"></script>
<script src="{% static 'package/dist/js/app-style-switcher.js' %}"></script>
<script src="{% static 'package/dist/js/sidebarmenu.js' %}"></script>
<script src="{% static 'package/dist/js/custom.js' %}"></script>
<script src="{% static 'package/dist/libs/prismjs/prism.js' %}"></script>
<script src="{% static 'package/dist/js/productDetail.js' %}"></script>
<!--  current page js files -->
<script src="{% static 'package/dist/libs/owl.carousel/dist/owl.carousel.min.js' %}"></script>
<script src="{% static 'package/dist/libs/apexcharts/dist/apexcharts.min.js' %}"></script>
<script src="{% static 'package/dist/js/dashboard.js' %}"></script>
<script src="{% static 'package/dist/libs/jquery-steps/build/jquery.steps.min.js' %}"></script>
<script src="{% static 'package/dist/libs/jquery-validation/dist/jquery.validate.min.js' %}"></script>
<script src="{% static 'package/dist/js/forms/form-wizard.js' %}"></script>
<script src="{% static 'package/dist/js/apps/chat.js' %}"></script>
<!-- Ajax JS -->
<script src=https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js></script>
<!-- Sweet Alert-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>

<!--  ajax -->
<script src="{% static 'ajax/template/blog/ai-blog-title-generate.js' %}"></script>



